{% extends "base.html" %}

{% block content %}

<div id="about">
    <img id="aboutcoverphoto" src="/static/img/brightonbeachhuts.jpg" />
    <p>Hello, and welcome to Green Living!</p>
    <p>Green Living was born out of a passion for the environment and the desire to learn new skills in website development.</p> 
    <p>Since moving to Brighton around a year ago I have been amazed at all the amazing eco-friendly and ethical stores and and projects that Brighton has to offer that I was able to find through searching the web, social media and through exploring Brighton.</p>
    <p>Green Living is a directory that is designed to list all these exciting places and projects that Brighton has to offer in one place, to help you explore the eco-friendly and ethical shops, cafes and restaurants around Brighton.</p>
    <p>We are always looking to expand our directory, and if there is somewhere you would like included on our directory please do visit our ‘add listing’ page to suggest a new listing.</p>
    <div class="aboutphotos">    
        <img src= "/static/img/brightonpier.jpg"><img src= "/static/img/brightonseagull.jpg"><img src= "/static/img/brightonwindturbinesportrait.jpg">
    </div>
</div>

{% endblock content %}