{% extends "base.html" %}

{% block content %}
   <div id="addlistingform"> 

        <div id="addlistingexplaination">
            <p>
                Are you a local eco, ethically minded business owner, or are you a customer that has found an awesome local business that you think should be added to our map? 
            </p>
            <p>
                We are always delighted to learn about the hidden gems that we may not have discovered yet.  
            </p>
            <p>
                Please fill in the form below so that we can check it out and add it.  
            </p>
            </div>

    <form action="." method="post">
        {% csrf_token %}
        Company name* <input type = "text" name = "Company_name" required/>
        <br>
        <br>
        Suggested filter/s
        <br> 
        <div id="addlistingfilter"> 

            <span> <input type = "checkbox" name = "zerowaste" value = "on"> Zero Waste </span>
            <span> <input type = "checkbox" name = "plantbased" value = "on"> Plant Based </span>
            <span> <input type = "checkbox" name = "healthandwellbeing" value = "on"> Health & Wellbeing </span>
            <span> <input type = "checkbox" name = "sustainabledining" value = "on"> Sustainable Dining </span>
            <span> <input type = "checkbox" name = "upcylcing" value = "on"> Upcycling </span>
            <span> <input type = "checkbox" name = "other" value = "on"> Other </span>
    </div>
    <form >
            or suggest new filter category <input type = "othersuggestedtag" name = "other_suggested_tag" />
        <br>
        <br>
        Town/city (if applicable) <input type = "text" name = "Town_city" />
        <br>
        <br>
        Address and postcode (if known) <input type = "text" name = "Address" />
        <br>
        <br>
        Website (if applicable) <input type = "text" name = "Website" />
        <br>
        <br>
        Social media links (if applicable)
        <br>
        Facebook <input type = "text" name = "Facebook" />
        <br>
        Instagram <input type = "text" name = "Instagram" />
        <br>
        Twitter <input type = "text" name = "Twitter" />
        <br>
        <br>
            Description (optional) <br />
            <textarea rows = "7" name = "description" placeholder="Enter description here..."></textarea>
        <br>   
        <br>
        Your email address (optional) <input type = "addlistinguseremail" name = "addlistinguseremail" />
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

    </div>
</div>

{% endblock content %}
