{% load version %}
<!DOCTYPE html>
<html>
<head>
	
	<title>{% block title %}Green Living Brighton{% endblock title %}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="{% block meta_description %}Discover Brighton & Hove's eco-friendly shops, cafés, restaurants and more.{% endblock %}"/>

	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png" />

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<link rel="stylesheet" href="/static/css/style.css?{% version_date %}">
	<!-- <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">  -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">  -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway&display=swap" rel="stylesheet">

	<meta property="og:locale" content="en_GB" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{% block og_title %}Green Living Brighton{% endblock og_title %}" />
	<meta property="og:description" content="{% block og_description %}Discover Brighton & Hove's eco-friendly shops, cafés, restaurants and more.{% endblock %}" />
	<meta property="og:url" content="{% block og_url %}https://greenliving.earth/{% endblock og_url %}" />
	<meta property="og:site_name" content="Green Living Brighton" />
	<meta property="og:image" content="{% block og_image %}https://greenliving.earth/static/img/avatar.png{% endblock og_image %}" />
	<meta property="og:image:secure_url" content="{% block og_image_secure %}https://greenliving.earth/static/img/avatar.png{% endblock og_image_secure %}" />
	<meta property="og:image:width" content="{% block og_image_width %}1080{% endblock og_image_width %}" />
	<meta property="og:image:height" content="{% block og_image_height %}1080{% endblock og_image_height %}" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{% block twitter_title %}Green Living Brighton{% endblock twitter_title %}" />
	<meta name="twitter:description" content="{% block twitter_description %}Discover Brighton & Hove's eco-friendly shops, cafés, restaurants and more.{% endblock %}" />
	<meta name="twitter:site" content="@greenlivingapp" />
	<meta name="twitter:image" content="{% block twitter_image %}https://greenliving.earth/static/img/avatar.png{% endblock twitter_image %}" />
	<!-- <meta name="twitter:creator" content="@" /> -->

	{% block extra_head %}{% endblock extra_head %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
	<div class="nav-mobile js-nav-mobile">
		<button class="nav-mobile__close close-button" id="close-hamburger" aria-label="close menu">
			<img src="/static/img/clear-24px.svg">
		</button>
		<nav data-nav="" data-nav-btn-class="nav-mobile__expand">
			<ul class="nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about/">About Us</a></li>
				<!-- <li><a href="/blog/">Blog</a></li>
				<li><a href="/actiongroups/">Action Groups</a></li> -->
				<li><a href="/addlisting/">Add Listing</a></li>
				<span id="socialmediaicons">
					<li><a href="https://www.instagram.com/greenlivingapp/"><img src="/static/img/instagram.svg"></a></li>
					<li><a href="https://twitter.com/greenlivingapp"><img src="/static/img/twitter.svg"></a></li>
					<li><a href="https://www.facebook.com/greenlivingapp/"><img src="/static/img/facebook.svg"></a></li>
				</span>
			</ul>
		</nav>
	</div>
	<div class="page-mask" id="js-page-mask"></div>


<div id="page">
    
	<div id="top-bar"> 
		<h1> <a href="/">GREEN LIVING<br />BRIGHTON</a></h1>
		<div id="topbarleft">
			<!-- <img id="logo" src="/static/img/static/fulllogo.svg"/> -->
		</div>

		<div id="topbarright">
			<button class="burger" id="hamburger" aria-label="Open Menu">
				<img src="/static/img/menu-24px.svg" />
			</button>
			<ul id="desktopmenu">
				<li><a href="/about/">About Us</a></li>
				<!-- <li><a href="/blog/">Blog</a></li>
				<li><a href="/actiongroups/">Action Groups</a></li> -->
				<li><a href="/addlisting/">Add Listing</a></li>
				<span id="socialmediaicons">
					<li><a href="https://www.instagram.com/greenlivingapp/"><img src="/static/img/instagram.svg"></a></li>
					<li><a href="https://twitter.com/greenlivingapp"><img src="/static/img/twitter.svg"></a></li>
					<li><a href="https://www.facebook.com/greenlivingapp/"><img src="/static/img/facebook.svg"></a></li>
				</span>
			</ul>
		</div>
	
	</div> 

	{% block content %}{% endblock content %}

	</div>
</div>

{% block body_end %}{% endblock body_end %}

<script src="/static/js/base.js?{% version_date %}"></script>

<!-- Matomo -->
<script type="text/javascript">
	var _paq = window._paq || [];
	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
	  var u="//stats.epixstudios.co.uk/";
	  _paq.push(['setTrackerUrl', u+'matomo.php']);
	  _paq.push(['setSiteId', '16']);
	  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
	})();
</script>
<!-- End Matomo Code -->

</body>
</html>
