{% extends "base.html" %}
{% load version %}

{% block content %}
	<div id="mainmapview">
		<div id="sidebar">
			
			<div id="sidebarcolumn">

				<div id="primarysidebar"> 
					<div id="sidebarfilter">
						<img id="filterlogo" src="/static/img/filterlist.svg"/>
						<h4>Filter</h4>
						<form action = " ">
							<fieldset>
								<span>
									<input type = "checkbox"
										id = "chkPlasticFree"
										value = "Plastic Free"
									/>
									<label for = "chkPlasticFree">Plastic Free</label>
								</span>
								<span>
									<input type = "checkbox"
										id = "chkPlantBased"
										value = "Plant Based"
									/>
									<label for = "chkPlantBased">Plant Based</label>
								</span>
								<span>
									<input type = "checkbox"
										id = "chkHealthandWellbeing"
										value = "Health & Wellbeing"
									/>
									<label for = "chkHealthandWellbeing">Health & Wellbeing</label>
								</span>
								<span>
									<input type = "checkbox"
										id = "chkSustainableDining"
										value = "Sustainable Dining"
									/>
									<label for = "chkSustainableDining">Sustainable Dining</label>
								</span>	
								<span>
									<input type = "checkbox"
										id = "chkUpcycling"
										value = "Upcycling"
									/>
									<label for = "chkUpcycling">Upcycling</label>
								</span>
								<span>
									<input type = "checkbox"
										id = "chkClothing"
										value = "Clothing"
									/>
									<label for = "chkClothing">Clothing</label>
								</span>
								<span>
									<input type = "checkbox"
										id = "chkChildren"
										value = "Children"
											/>
											<label for = "chkChildren">Children</label>
								</span>
								<span>
									<input type = "checkbox"
										id = "chkFoodWaste"
										value = "Food Waste"
									/>
									<label for = "chkFoodWaste">Food Waste</label>
								</span>
								<span>
									<input type = "checkbox"
										id = "chkOther"
										value = "Other"
									/>
									<label for = "chkOther">Other</label>
								</span>

							<button type = "button"
							  onclick = "filter()">
							 Search
							</button>
							<button type = "reset"
								onclick = "resetFilters()">
								Reset
							</button>
							</fieldset>
						   </form>
					</div>

					<div id="sidebarlistitemscontainer">
						<div id="sidebarlistitems"></div>
					</div>

					<div id="mapmobile"></div>

					<div id="fab" onclick="toggleMobileListMap()">
						<img id="fabmap" src="/static/img/map-24px.svg"/>
						<img id="fablist" src="/static/img/format_list_bulleted-24px.svg"/>
					</div>
				</div>
			
				<div id="popupsidebar">
					<img class="icon icon-back" onclick="hideHiddenSidebar()" src="/static/img/backarrow.svg"/>
					<div>
						<span id="businesslogo"></span>	
						<div id="aboutbusinesssection">
							<h2 id="sidebarplacename"></h2>
								<span id="sidebartags"></span>
								<div class="storeaddress" id="storeaddress"></div>
								<div class="openinghours" id="openinghours"></div>
								<div class="websitelink">
									<img src="/static/img/web.svg">
									<ul id="websitelink"></ul>
								</div>
							</div>
							<div class="longdescription">
								<p id="longdescription"></p>
							</div>
							<div class="hiddenimagesrow" id="hiddenimagesrow">	
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div id="mapdesktop"></div>

{% endblock content %}

{% block body_end %}
<div class="modal">
	<div class="modal-content">
	  <span class="close-btn">&times;</span>
	  <p>Thank you so much for suggesting a new place to add to our map, we really value you helping us build this community.</p>
	  <p>Together we can use our shared knowledge and values to make a difference locally and across the world.</p>
	  <p>If you've left your email address we will let you know if your suggestion is added.</p>
	</div>
  </div>

    <script type="text/javascript" src="/static/js/leaflet.smoothmarkerbouncing.js"></script>
    <script src="/static/js/index.js?{% version_date %}"></script>
{% endblock body_end %}
