html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
}

#mappage {
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

#mainmapview {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 1px;
}

    #sidebar {
        width: 400px;
        height: 100%;
        background-color: rgb(209, 209, 209);
        margin-right: 1.5vh;
        border-radius: 10px;
        overflow: hidden;
    } 

    #sidebarcolumn {
        flex-direction: row;
        display: flex;
        height: 100%;
        width: 800px;
        position: relative;
        left: 0px;
        transition: ease all 1s;
    }

    #sidebarcolumn.showinghidden {
        left: -400px;
    }

    #sidebarfilter {
        height: 200px;
    }

    #primarysidebar {
        overflow-y: auto;
        width: 400px;
        flex-direction: column;
    }

    #popupsidebar {
        width: 400px;
        padding: 10px;
        overflow: hidden;
        overflow-y: auto;
        color: #005f00;
    }

    #popupsidebar h1 {
        color: #019701;
    }

    .icon {
        width: 26px;
    }

    .businesslogo {
        width: 175px;
        float: right;
        margin: 0px 0px 0px 10px;
    }

    .hiddenimagesrow {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 10px 0px;
    }

    .hiddenimages {
        width: 400px;
    }

    .sidebarlistitem {
        background: rgb(180, 180, 180);
        height: 160px;
        margin: 0 5px 10px 10px;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: row;
        color: #005f00;
    }

    .sidebarlistitem img {
        height:160px;
        width: 160px;
        object-fit: cover;
        flex-shrink: 0;
    }

    .sidebartext h3 {
        margin: 0;
        color: #005f00;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
    }   

    .sidebartext p {
        margin: 10px 0;
    }

    .sidebartext {
        padding: 10px; 
        font-size: 15px;
    }

    .address {
        color: #019701;
    }

    #mapid {
    flex-grow: 1;
    border-radius: 10px;
    }

#top-bar {
    background-color: none;
    text-align: center;
    color: #74BF04;
    font-weight: bold;
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: row;
    font-family: 'Amatic SC', cursive;    
}

    #logo {
        height: 120px;
    }

    #top-bar h1 {
        margin: 0;
    }

    #top-bar ul {
        list-style: none;
        padding: 0;
        margin:0 ;
    }

    #top-bar li {
        display: inline-block;
        margin-left: 10px;
    }

    #topbarleft {
        width: 400px;
    }

    #topbarright {
        flex-grow: 1;
        text-align: right;
        font-size: 4vh;
    }

    #topbarright li a {
        text-decoration: none;
        color: #74BF04;
    }


@media only screen and (max-width: 768px) {
    #mainmapview {
        flex-direction: column-reverse;
        width: 100%;
    }
    #sidebar {
        width: 100%;
        height: 183px;
        display: none;
    }
    #logo {
      width: 100%;
      height: auto;
    }
    #sidebarlistitems {
        overflow-y: unset;
        overflow-x: auto;
    }
    .sidebarlistitem {
        width: 75%;
        height: 160px;
    }
}
