html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
}

#mappage {
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

#mainmapview {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 1px;
}

    #sidebar {
        width: 400px;
        height: 100%;
        background-color: rgb(209, 209, 209);
        margin-right: 1.5vh;
        border-radius: 10px;
        overflow: hidden;
    } 

    .filtertags {
        display: block;
    }

    .filtertags span {
        padding: 5px;
        border-radius: 10px;
        background-color: rgba(128, 168, 95, 0.46);
        display: inline-block;
        font-size: 13px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #sidebarcolumn {
        flex-direction: row;
        display: flex;
        height: 100%;
        width: 800px;
        position: relative;
        left: 0px;
        transition: ease all 1s;
    }

    #sidebarcolumn.showinghidden {
        left: -400px;
    }

    #sidebarfilter {
        height: 150px;
        padding: 10px;
        }

    #filterlogo {
        vertical-align: top;
    }

    #sidebarfilter fieldset {
        padding: 0;
        border: none;
        color: #005f00;
    } 

    #sidebarfilter h4 {
        font-family: 'Lato', sans-serif; 
        padding: 0;
        color: #005f00;
        margin: 10px 10px 20px 0px;
        display: inline;
    }

    #sidebarfilter span {
        display: inline-block;
        background-color:#B0CC99;
        border-radius: 10px;
        margin: 2px;
    }

    #sidebarfilter label {
        padding: 10px;
        padding-left: 0px;
        cursor: pointer;
    }

    #sidebarfilter input {
        cursor: pointer;
    }

    #sidebarfilter button {
        cursor: pointer;
    }


    #primarysidebar {
        overflow-y: auto;
        width: 400px;
        flex-direction: column;
    }

    #popupsidebar {
        width: 400px;
        padding: 10px;
        overflow: hidden;
        overflow-y: auto;
        color: #005f00;
        padding: 10px;
    }

    #popupsidebar h1 {
        color: #019701;
        padding: 0;
        margin: 5px;
    }

    #sidebartags {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #sidebartags span {
        padding: 5px;
        border-radius: 10px;
        background-color:#B0CC99;
        display: inline-block;
        font-size: 13px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #aboutbusinesssection {
        min-height: 205px;
    }

    .icon {
        width: 26px;
    }

    #businesslogo {
        width: 180px;
        height: 180px;
        float: right;
        margin: 15px 0px 0px 0px;
    }
    #businesslogo img {
        width: 100%;
    }

    .hiddenimagesrow {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 10px 0px;
    }

    .hiddenimages {
        width: 400px;
    }

    .storeaddress ul {
        list-style-image: none;
        margin-top: 4px;
        margin-bottom: 14px;
        margin-left: 0;
        padding-left: 5px;
        display: inline-block;
        max-width: 150px;
        font-size: 13px;
    }

    .storeaddress img {
        vertical-align: top;
    }

    .websitelink {
        font-size: 12.5px;
    }

    .websitelink ul {
        list-style-image: none;
        margin-top: 4px;
        margin-bottom: 14px;
        margin-left: 0;
        padding-left: 5px;
        display: inline-block;
        max-width: 150px;
    }

    .websitelink img {
        vertical-align: top;
    }

    .openinghours {
        list-style: none;
        font-size: 13px;
    }

    .openinghours ul {
        margin-top: 4px;
        margin-bottom: 14px;
        margin-left: 0;
        padding-left: 5px;
        display: inline-block;
        font-size-adjust: .5; 
    }

    .openinghours img {
        vertical-align: top;
    }

    .sidebarlistitem {
        background: rgb(180, 180, 180);
        margin: 0 5px 10px 10px;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: row;
        color: #005f00;
        min-height: 160px;
        cursor: pointer;
    }

    .sidebarlistitem img {
        width: 160px;
        object-fit: cover;
        flex-shrink: 0;
    }

    .sidebartext h3 {
        margin: 0;
        color: #005f00;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
    }   

    .sidebartext p {
        margin: 10px 0;
    }

    .sidebartext {
        padding: 10px; 
        font-size: 15px;
    }

    .address {
        color: #019701;
    }

    #mapid {
    flex-grow: 1;
    border-radius: 10px;
    }

#top-bar {
    background-color: none;
    text-align: center;
    color: #74BF04;
    font-weight: bold;
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: row;
    font-family: 'Amatic SC', cursive;    
}

    #logo {
        height: 120px;
    }

    #top-bar h1 {
        margin: 0;
    }

    #top-bar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #top-bar li {
        display: inline-block;
        margin-left: 10px;
    }

    #topbarleft {
        width: 400px;
    }

    #topbarright {
        flex-grow: 1;
        text-align: right;
        font-size: 4vh;
    }

    #topbarright li a {
        text-decoration: none;
        color: #74BF04;
    }


@media only screen and (max-width: 768px) {
    #mainmapview {
        flex-direction: column-reverse;
        width: 100%;
    }
    #sidebar {
        width: 100%;
        height: 183px;
        display: none;
    }
    #logo {
      width: 100%;
      height: auto;
    }
    #sidebarlistitems {
        overflow-y: unset;
        overflow-x: auto;
    }
    .sidebarlistitem {
        width: 75%;
        height: 160px;
    }
}